main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0 20px;
  background: url(../images/pattern-background-desktop.svg);
  background-repeat: repeat-x;
  background-color: $pale_blue;
}
.card__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}
.attribution {
  color: $dark_blue;
  font-size: 11px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10px;
}

$breakpoint: 1440px;
$breakpoint_mobile: 375px;
@media (min-width: $breakpoint) {
  .card__body {
    padding: 20px 40px;
  }
}
@media (max-width: $breakpoint_mobile) {
  .main {
    background: url(../images/pattern-background-mobile.svg);
    background-repeat: repeat-x;
    background-color: $pale_blue;
  }
}
